/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Default color variables go here */
:root {
  --color-white: #fff;
  --color-black: #000;
  --btn-primary-background: #495fef;
  --color-attribute: hsl(228, 45%, 44%);
  --color-neutral-900: #062630;
  --color-neutral-700: #385159;
  --color-neutral-200: #e6e1df;
  --color-neutral-100: #faf5f3;
  --color-salmon-500: #ffa36f;
  --color-salmon-100: hsl(22.2, 100%, 91%);
  --color-salmon-50: hsl(22.5, 100%, 96.9%);
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ff 100%);
  --spacing-0: 0;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Martian Mono", monospace;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

/* default button styling */

.btn {
  font-weight: 700;
  min-width: 175px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.63px;
  transition: 0.4s;
  height: 65px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 32px 54px rgba(3, 3, 3, 0.12);
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary,
.btn-primary a {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.round-pill {
  border-radius: 50rem;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color-attribute);
}
